.block-recent-updates {
    .grid {
        @screen md {
            max-width: 1024px;
        }
    }
    img {
        transition: all 0.2s;
        transform: scale(1);
    }
    img:hover {
        transform: scale(1.01);
    }

}
