@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mb-2;
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
    @apply mb-8;
  }
  h2 {
    @apply text-4xl;
    @apply mb-4;
  }
  h3 {
    @apply text-2xl;
    @apply mb-4;
  }
  h4 {
    @apply mb-4;
  }
  h5 {
    letter-spacing: 1.5px;
    font-size: 16px;
    text-transform: uppercase;
  }
  h6 {
    letter-spacing: 1.5px;
    font-size: 12px;
    text-transform: uppercase;
  }
  p, ul, ol {
    @apply mb-4;
  }
  .caption p,
  p.caption {
    font-size: 14px;
  }

  a {
    @apply underline;
  }
}

@import 'fonts';
@import 'blocks/index';

.antialiased {
  -webkif-font-smoothing: antialiased;
}

.map {
  @apply w-full;
  //height: 100vh;
  svg {
    //@apply w-full h-full object-contain;
  }
  g#Small {
    rect {
      stroke-dasharray: 4;
    }
    g[data-content-type] {
      rect {
        stroke-dasharray: 0;
      }
    }
    g.explore-match {
      rect {
        fill: #f00;
      }
    }  
    g.explore-match:hover {
      rect {
        fill: rgba(#f00, 0.5);
      }
    }
  }
  g[data-permalink] {
    cursor: pointer;
    path,
    rect {
      transition: all 0.3s;
    }
  }
  g[data-box-id]:not([data-permalink]) {
    opacity: 0.2;
  }
  g[data-open-search],
  g[data-open-explore],
  g[data-permalink] {
    cursor: pointer;
  }
  g[data-open-search]:hover,
  g[data-open-explore]:hover,
  g[data-permalink]:hover {
    rect {
      fill: #f00;
    }
  }
  g#Buttons {
    g[data-permalink] {
      cursor: pointer;
    }
    g[data-permalink]:hover {
      > rect:first-of-type {
        fill: #f00;
      }
      > g rect {
        fill: inherit;
      }
    }
  }

  g.solid-gray {
    rect {
      stroke: #ccc;
    }
  }

  g#A {
    position: relative;
    rect {
      background-image: url(../img/a.svg);
    }
    span {
      @apply absolute top-0 left-0 w-full h-full;
      background-color: #f00;
    }
  }
}

.panel {
  @apply text-white fixed top-0 left-0 h-full w-full overflow-auto ;
  background-color: rgba(#000, 0.90);
}

.panel-image {
  background-color: rgba(#000, 1);
  img {
    @apply object-fill;
  }
  .caption {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

.payload {
  .container {
    padding: 0;
  }
}

[data-image-enlarge] {
  img {
    transition: all 0.2s;
    transform: scale(1);
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.01);
  }
}

.panel-explore,
.panel-search {
  @apply pt-12 pb-8;
  h2 {
    @apply mb-10;
  }
  .container {
    @apply mx-auto;
    max-width: 1024px;
  }
  h3 {
    @apply uppercase mb-2;
  }
  .checkboxes {
    @apply mb-8;
    @screen md {
      @apply mb-10;
    }
  }
  .checkbox {
    @apply flex items-center gap-2;
    @apply mb-2;
  }
}

.panel-search {
  label {
    @apply mb-2 block;
  }
  input {
    @apply text-black;
  }
  form {
    @apply mb-10;
  }
  ol {
    @apply list-decimal ml-4;
    li {
      @apply mb-10 pl-2;
    }
  }
}

.panel-mobile-menu {
  .links {
    div {
      @apply uppercase mb-3 pb-3 font-bold;
      border-bottom: 1px solid #fff;
      font-size: 20px;
    }
  }
}

button.close {
  @apply fixed top-[10px] right-[20px] bg-black text-white;
  font-size: 40px;
  line-height: 1;
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  z-index: 2;
  &:hover {
    @apply bg-red;
  }
}

.btn {
  @apply bg-white text-black px-4 py-2 uppercase;
}