@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mb-2;
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
    @apply mb-8;
  }
  h2 {
    @apply text-2xl
  }
  p {
    @apply mb-4;
  }
  .caption p,
  p.caption {
    font-size: 14px;
  }
}

@import 'fonts';
@import 'blocks/index';

.antialiased {
  -webkif-font-smoothing: antialiased;
}

.map {
  g[data-post] {
    cursor: pointer;
    path {
      transition: fill 0.3s;
    }
  }
  g[data-post]:hover {
    path {
      fill: #f00;
    }
  }
}

.panel {
  @apply text-white;
  background-color: rgba(#000, 0.85);
}

.payload {
  .container {
    padding: 0;
  }
}

[data-image-enlarge] {
  img {
    transition: all 0.2s;
    transform: scale(1);
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.01);
  }
}

.panel-image {
  img {
    @apply object-fill;
  }
}