@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply mb-2;
    @apply font-bold;
  }

  h1 {
    @apply text-5xl;
    @apply mb-8;
  }
  h2 {
    @apply text-3xl;
    @apply mb-4;
  }
  h3 {
    @apply mb-4;
  }
  h6 {
    letter-spacing: 1.5px;
    font-size: 12px;
    text-transform: uppercase;
  }
  p, ul, ol {
    @apply mb-4;
  }
  .caption p,
  p.caption {
    font-size: 14px;
  }
}

@import 'fonts';
@import 'blocks/index';

.antialiased {
  -webkif-font-smoothing: antialiased;
}

.map {
  @apply w-full;
  padding-right: 20px;
  //height: 100vh;
  svg {
    //@apply w-full h-full object-contain;
  }
  g[data-permalink] {
    cursor: pointer;
    path,
    rect {
      transition: all 0.3s;
    }
  }
  g[data-open-search],
  g[data-open-explore],
  g[data-permalink] {
    cursor: pointer;
  }
  g[data-open-search]:hover,
  g[data-open-explore]:hover,
  g[data-permalink]:hover {
    path {
      fill: #f00;
    }
    rect {
      fill: #f00;
    }
  }
  g[data-content-type="project"].explore-match {
    path {
      fill: #f00;
    }
  
  }
}

.panel {
  @apply text-white fixed top-0 left-0 h-full w-full overflow-auto ;
  background-color: rgba(#000, 0.85);
}

.panel-image {
  background-color: rgba(#000, 1);
}

.payload {
  .container {
    padding: 0;
  }
}

[data-image-enlarge] {
  img {
    transition: all 0.2s;
    transform: scale(1);
    cursor: pointer;
  }
  img:hover {
    transform: scale(1.01);
  }
}

.panel-image {
  img {
    @apply object-fill;
  }
}

.panel-explore,
.panel-search {
  @apply pt-12 pb-8;
  h2 {
    @apply mb-10;
  }
  .container {
    @apply mx-auto;
    max-width: 1024px;
  }
  h3 {
    @apply uppercase mb-2;
  }
  .checkboxes {
    @apply mb-10;
  }
  .checkbox {
    @apply flex items-center gap-2;
    @apply mb-2;
  }
}

.panel-search {
  label {
    @apply mb-2 block;
  }
  input {
    @apply text-black;
  }
  form {
    @apply mb-10;
  }
  ol {
    @apply list-decimal ml-4;
    li {
      @apply mb-10 pl-2;
    }
  }
}

button.close {
  @apply bg-black text-white top-[10px] right-[20px];
  background-color: #000;
  font-size: 40px;
  line-height: 1;
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
  &:hover {
    @apply bg-red;
  }
}

.btn {
  @apply bg-white text-black px-4 py-2 uppercase;
}